<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        timestamp=%d{yyyy-MM-dd HH:mm:ss} severity=%level logger=%logger{36} message=%msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <logger name="slick.basic" level="ERROR" />
  <logger name="scala.slick" level="ERROR" />

  <root level="WARN">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>




