<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./target/test-logs/application-test.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <!-- Using a format similar to Heroku logfmt format, explained here https://brandur.org/logfmt -->
      <pattern>
        timestamp=%date{yyyy-MM-dd HH:mm:ss} severity=%level logger=%-40logger{39} message=%msg %ex%n
      </pattern>
    </encoder>
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <root level="WARN">
    <appender-ref ref="FILE" />
  </root>

</configuration>
